@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer base {
  :root {
    --highlight: 255, 95, 31;
    --highlight-hover: 255, 106, 46;
    --text-highlight-gray: 128, 139, 150;
    --primary-btn: 251, 252, 252;
    --primary-white: 251, 252, 252;

    --text-primary: 60, 60, 63;
    --text-secondary: 50, 50, 53;
    --text-blue: 59, 130, 246;
    --text-purple: 168, 85, 247;
    --primary-bg: 251, 252, 252;
    --primary-bg-shade-1: 240, 243, 244;
    --primary-bg-shade-2: 235, 238, 240;
    --primary-shade-hover: 229, 231, 235;
  }

  :root[data-theme="dark"] {
    --text-primary: 220, 220, 220;
    --text-secondary: 230, 230, 230;
    --text-blue: 96, 165, 250;
    --text-purple: 192, 132, 252;
    --primary-bg: 40, 40, 43;
    --primary-bg-shade-1: 50, 50, 56;
    --primary-bg-shade-2: 60, 60, 66;
    --primary-shade-hover: 55, 55, 55;
  }

  [data-theme="light"] *,
  [data-theme="dark"] * {
    @apply transition-colors duration-150;
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button {
    @apply transition-none duration-0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  a,
  input {
    color: rgb(var(--text-primary));
  }
}

body {
  background-color: rgba(var(--primary-bg));
}

nav a.active {
  border-bottom: 2px solid rgba(var(--highlight));
}

aside a.active {
  color: rgba(var(--highlight));
}

@media screen and (min-width: 640px) {
  aside a.active {
    background-color: rgba(var(--highlight));
    color: rgba(var(--primary-btn));
  }
  aside a.active:hover {
    background-color: rgba(var(--highlight-hover));
  }
}
