@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --highlight: 255, 95, 31;
    --highlight-hover: 255, 106, 46;
    --text-highlight-gray: 128, 139, 150;
    --primary-btn: 251, 252, 252;

    --text-primary: 40, 40, 43;
    --primary-bg: 251, 252, 252;
    --primary-bg-shade-1: 240, 243, 244;
  }

  :root[data-theme="dark"] {
    --text-primary: 251, 252, 252;
    --primary-bg: 40, 40, 43;
    --primary-bg-shade-1: 50, 50, 56;
  }

  [data-theme="light"] *,
  [data-theme="dark"] * {
    @apply transition-colors duration-150;
  }
}

body {
  background-color: rgba(var(--primary-bg));
  font-family: Helvetica, Arial, sans-serif;
}
.active {
  border-bottom: 2px solid rgba(var(--text-highlight));
}
